.inter-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}
.bg-img {
  background-image: url("../styles/Assets/Hero-bg.png");
}
/* nav section */
h3 {
  font-weight: 900;
  font-size: xx-large;
  width: 132px;
  height: 2px;
}
.logo-color {
  color: #4e47ff;
  margin-top: 55px;
  margin-left: 100px;
}
.Button {
  margin-top: 46px;
  margin-right: 100px;
}
.Button2 {
  margin-bottom: 150px;
}
.button-color {
  color: #ffffff;
  background-color: #4e47ff;
  font-weight: bold;
  font-size: 16px;

  padding: 14px 30px 16px 32px;
  border-radius: 10px;
  border-style: none;
  border: none;
}
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 50px;
  align-content: center;
}
/* banner */
.banner {
  text-align: center;
  font-weight: bold;
  margin-top: 309px;
  margin-left: 267px;
  margin-right: 267px;
  font-size: 35px;
  color: #252432;
}
/* action */
h4 {
  font-weight: bold;
  margin-top: 175px;
  margin-left: 100px;
  font-size: 42px;
  color: #252432;
}
.action {
  display: flex;
  gap: 220px;
  justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}
.action-p {
  color: #252432;
  font-size: 24px;
  font-weight: 200;
  margin-left: 100px;
}
.action-button {
  margin-left: 100px;
}
.action-image {
  border-radius: 48px;
  margin-top: 116px;
  margin-right: 100px;
}
/* productive section */
h5 {
  color: #252432;
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  margin-top: 200px;
  padding-top: 80px;
}
/* productive section */
.productive-container {
  display: flex;
  justify-content: space-between;
  gap: 200px;
  padding: 0 142px;
  padding-top: 5px;
}
.productive-users {
  margin-left: 195px;
  margin-right: 190px;
  margin-top: 116px;
  margin-bottom: 137px;
  text-align: center;
  background-color: rgb(248, 233, 248);
  border-radius: 24px;
}
.colorful-fonts {
  color: #4e47ff;
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}
.productive-p {
  font-size: 20px;
  color: #000000;
  padding-top: 1px;
}
/* get in touch */
.get-in-touch-parents {
  display: flex;
  gap: 115px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: #ffffff;
}
h2 {
  color: #000000;
  font-weight: bold;
  font-size: 97px;
}
.label-get-in {
  font-size: 18px;
  font-weight: 500;
}
.input-box {
  border-radius: 10px;
  background-color: #ffffff;
  border-color: #d6dded;
  font-size: 16px;

  padding: 20px;
  width: 400px;
  height: 10px;
}
.text-area-get-in {
  background-color: #ffffff;
  border-color: #d6dded;
  border-radius: 10px;
  padding: 20px;
  height: 80px;
  width: 400px;
  font-size: 16px;
}
.button-get-in-touch {
  padding: 25px 59px;
  padding-bottom: 35px;

  width: 442px;
  height: 50px;
  text-align: center;
  margin-bottom: 71px;
}
/* footer section */
.footer-container {
  text-align: center;
  margin: 110px 455px;
}
h1 {
  font-size: 109px;
  font-weight: 800;
  margin-bottom: 0;
}
.footer-p {
  margin-top: 0;
  margin-left: 50px;
  color: #8987a1;
  margin-bottom: 40px;
}
.footer-link {
  color: #8987a1;
  margin: 0 30px;
  text-decoration: none;
}
